body {
  background-color: #1F2224;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 0.75em;
  color: #333333;
  font-weight: bold;
  
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#header {
  background-image: url('header.gif');
  background-position: top;
  background-repeat: repeat-x;
  height: 100px;
  padding-bottom:20px;

}

.footer {
  background:#151718 url('footer.gif') repeat-x 0 bottom;
  font-size:9px;
  font-family:verdana, arial, sans-serif;
  padding-bottom:15px;
  height: 50px;
}

#main{
  background-color: white;
  width: 80%;
  margin-right: 30px;
  margin-left: 125px;
  margin-bottom: 25px;
  border-radius: 5px;
  
}

#side{

float: right;
width: 30%;
margin: 0 auto;
margin-top: 20px;
padding-top: 20px;
margin-right: 20px;
border-radius: 5px;
word-wrap: break-word;
background-color: #C0Deed

}

#container {
  width: 55%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border-radius: 5px;
  margin-top: 20px;
  float: left;
}



#side .sidecontent img{
 float: left;
 padding-right: 10px;
 padding-left: 20px;
}

#side .followers{
  margin-left: 10px;
  margin-top: 10px;
}

#side .follow_avs{
 margin-left: 10px;
}

#side .search {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

/* Twit form , textarea*/
#twit_form{
  width: 75%px;
}

#new_twit{
width: 100%;
}

#twit_form h3{
font-size: 150%;
margin: 0px;
padding: 0px 0px 0px 0px;
width: 60%;
}

#char_count{
 float: left;
 font-size: 200%;

}

#twit_form h1{
font-size: 150%;
float: right;
}

#twit_form textarea{
  
  width: 495px;
  height: 44px;
  resize: none;
  margin-bottom: 20px;
}

#twit_form #latest_message{
  float: left;
  color: gray;
  padding-top: 0px;
  font-size: 90%;
  width: 100%;
  word-wrap: break-word;

}

#twit_form #submit_button_container{
  float: left;
  margin-bottom: 15px;
}

#twit_form input.submit{
}


/*List of twits*/

#twits_list
{ margin: 0px;
  padding: 0px;
  margin-top: 10px;
  width: 100%;
  
}

#twits_list li
{
  list-style: none;
  padding: 10px 0px;
  padding-top: 10px;
  font-weight: bold;
  background-color: #fff;
  border-color: gray;
  word-wrap: break-word;


}


#twits_list li:hover{ 
  background-color: #F7F7F7;
  border-color: #d2dada;
}

#twits_list img{ 
float: left;
padding-top: auto;
}

#twits_list div.twit_message_container{ 
float: left;
margin-left: 10px;
width: 425px;
}

#twits_list div.twit_message_container a { 
color: #2276bb;
text-decoration: none; 
}

#twits_list div.twit_message_container div.time_ago { 
color: #9c9c9c;
font-size: 80%;
}

#twits_list div.twit_message_container .fbutton
{
  float: right;
  width: 45px;
  text-align: right;
}



.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
